.hide-mobile{
    display: none;
}

body{
    background-color: #fffbf3;
    margin: 0;
    font-family: 'Inter';

}

.wrap{
    margin: 3em;
}

header{
    display: flex;
    justify-content: space-between;
}

nav ul{
    background: white;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    text-align: left;
    padding: 2em;
    transform: translateX(100%);

    li{
        margin: 1em 0;

        &:nth-of-type(1){
            margin-bottom: 4em;
        }

        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5rem;

            &:hover{
                color: #ffa800;
            }

        }
    }

}

.open{
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

h1, p{
    text-align: center;
}

h1{
    font-size: 2.5rem;
    img{
        display: block;
        margin: 0 auto;
        height: 3rem;
    }
}

p{
    line-height: 1.5;
    font-size: 1rem;
}

a.cta-button{
    background:#ffa800;
    margin: 1em 40%;
    padding:1em 2em;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.5rem;
    border-radius: .3em;
    
}

.cat{
    position: absolute;
    height: 300px;
    width: 100%;
    max-width: 400px;
    margin-top: 2em;
    margin-left: auto ;
    margin-right: auto ;
    
    img{
        width: 50%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .inner-circle, .outer-circle{
        position: absolute;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .inner-circle{
        background: #ffebc3;
        width: 200px;
        height: 200px;
        z-index: -1;
    }

    .outer-circle{
        background: white;
        width: 400px;
        height: 400px;
        z-index: -2;
    }

}

@media (min-width: 798px){
    .wrap{
        margin: 0 4em;
    }

    .hide-desktop{
        display: none;
    }

    .menu-open{
        display: none;
    }

    .hide-mobile{
        display: block;
    }

    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        .divider{
            height: 50px;
            width: 1px;
            border-right: 1px solid grey;
            
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }

    nav ul{
        position: unset;
        height: auto;
        width: auto;
        gap: 2em;
        transform: translateX(0);
        background: none;
        padding: 0;
        display: flex;
        align-items: center;

        li a {
            font-size: 1rem;
        }

        li{
            margin: 0 1em;

            &:nth-of-type(1){
                margin-bottom: 0;
            }
        }
    }

    .menu-btn, .menu-close{
        display: none;
    }
    
}

@media (min-width: 950px){
    h1, p{
        text-align: left;
    }

    h1 img{
        margin: 0;
    }

    main{
        width: 50%;
    }

    .cat{
        margin-top: 0;
        position: relative;

        img{
            max-width:300px;
            left: 50%
        }

        .inner-circle{
            width: 300px;
            height: 300px;
        }
        .outer-circle{
            width: 1000px;
            height: 1000px;
        }

        
    }

    .cat-container{
        position: absolute;
        z-index: -1;
        width: 50%;
        top: 20%;
        right: 0;

    }

    a.cta-button{
        width: auto;
        padding: 1em 2em;
        display: inline-block;
        border-radius: .3em;
    }
}

@media (min-width: 1200px){
    .wrap{
        margin: 0 auto;
        padding: 0 2em;
        max-width: 1200px;
    }

    a.cta-button{
        width: auto;
        padding: 1em 2em;
        display: inline-block;
        border-radius: .3em;
    }

    .cat{
        position: relative;

        img{
            max-width:300px;
            left: 50%
        }

    };
}